<% include layout/login_header %>

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        
        <p>To use this site you'll have to sign in. Use Twitter OAuth to sign in below</p>

        <a href="/oauth" class="btn btn-large btn-success btn-block">Sign in using Twitter</a>
      </form>

<% include layout/login_footer %>
