<script id="favorites" type="text/html">
  <p class="refresh-button"><a href="#" class="btn btn-info"><i class="icon-refresh"></i></a></p>

  <section class="tweet-container">
    <ul class="media-list tweet-list">
    </ul>
  </section>
</script>