<script id="search" type="text/html">

  <form id="search-tweet" class="search-tweet clearfix">
    <fieldset>
      <div class="input-append">
        <input class="span4" id="search-input" type="text">
        <button class="btn btn-info" type="submit">Search!</button>
      </div>
    </fieldset>
  </form>

  <section class="tweet-container">
    <ul class="media-list tweet-list">
    </ul>
  </section>
</script>