<script id="timeline" type="text/html">
  <p class="refresh-button"><a href="#" class="btn btn-info"><i class="icon-refresh"></i></a></p>

  <form id="new-tweet" class="new-tweet clearfix">
    <fieldset>
      <textarea rows="3" id="input-tweet" name="input-tweet" placeholder="Your new tweet text..."></textarea>
      <button type="submit" id="tweet-button" class="btn btn-inverse pull-right">Tweet!</button>
    </fieldset>
  </form>

  <section class="tweet-container">
    <ul class="media-list tweet-list">
    </ul>
  </section>
</script>