<!-- I kind of feel like something's missing... -->
<script id="tweet" type="text/html">
<li class="media">
  <article class="tweet-box media" id="tweet-" data-tweet-id="">
    <a class="pull-left" href="#">
      <img class="media-object img-rounded" src="" alt="">
    </a>
    <div class="media-body">
      <h4 class="media-heading"></h4>
      <datetime datetime=""></datetime>

      <p class="tweet-text"></p>

      <p class="tweet-retweet"><i class="icon-retweet"></i> Retweeted!</p>
    </div>
  </article>
</li>
</script>